{% extends 'base/admin_home.html' %}
{% load crispy_forms_filters %}
{% block content %}
<h5 class="py-3 mb-0">Update Student Record</h5>
<div class="container">
<!--    <div class="row">-->
<!--            <h1 class="text-center caption" >Update Student Record</h1>-->
<!--        </div>-->
    <div class="row">
<form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ stud_form.name|as_crispy_field }}
    {{ stud_form.dob|as_crispy_field }}
    {{ stud_form.gender|as_crispy_field }}
    {{ stud_form.address|as_crispy_field }}
    {{ stud_form.department|as_crispy_field }}
    {{ stud_form.phone|as_crispy_field }}
    {{ stud_form.regno|as_crispy_field }}
    {{ stud_form.email|as_crispy_field  }}
     <div class="d-flex">
        <img src="{{ stud_form.instance.photo.url }}" class="rounded-circle" width="90px" height="90px" />
        {{ stud_form.photo|as_crispy_field }}
    </div>
    <div class="mt-3">
    <button type="submit" class="btn btn-outline-danger1 form-control rounded-pill submit px-3">Update</button></div>
</form>
     </div>
</div>
{% endblock %}