{% extends 'base/admin_home.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center caption" >Update Student Record</h1>
        </div>
        <div class="col-md-8">
<form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ stud_form.name|as_crispy_field }}
    {{ stud_form.dob|as_crispy_field }}
    {{ stud_form.gender|as_crispy_field }}
    {{ stud_form.address|as_crispy_field }}
    {{ stud_form.department|as_crispy_field }}
    {{ stud_form.phone|as_crispy_field }}
    {{ stud_form.regno|as_crispy_field }}
    {{ stud_form.email|as_crispy_field  }}
     <div class="d-flex">
        <img src="{{ stud_form.instance.photo.url }}" class="rounded-circle" width="100px" height="100px" />
        {{ stud_form.photo|as_crispy_field }}
    </div>

    <button type="submit" class="form-control btn submit px-3">Update</button>
</form>
        </div>
    </div>
</div>
{% endblock %}