{% extends 'base/admin_home.html' %}
{% load crispy_forms_filters %}
{% block content %}
<h5 class="py-3 mb-0">Parent List</h5>
<div class="container">
    <div class="row">
<!--            <h1 class="text-center caption" >Parent List</h1>-->
<table class="table table-bordered" style="text-align:center">
    <tr>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Relationship</th>
        <th>Registration No.</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Delete</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.gender }}</td>
        <td>{{ row.relation }}</td>
        <td>{{ row.regno }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.phone }}</td>
        <td>{{ row.email }}</td>
        <td><form action="{% url 'delpar' row.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger" >Delete</button> </form></td>
    </tr>
    {% endfor %}
</table>

    </div>
</div>
{% endblock %}